---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Astro";
const identity = {
	name: "HitchHiker42",
	planet: "golden bowl",
	occupation:"Writer",
	hobbies: ["Reading", "Writing", "Exploring","hitchHiking"],
}

const skills = ["Astro", "JavaScript", "CSS", "HTML", "Node.js", "React", "Tailwind CSS"];
const enjoying = true;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{skillColor,fontWeight, textCase}}>
	.title{
			color:purple;
			font-size:4rem;
			text-transform: ;
	}

	.skill{
			color:var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
	}
</style>

<BaseLayout pageTitle = {pageTitle}>
	<div class="flex flex-col gap-5">

		<p>Astro is a modern static site generator that allows you to build fast, optimized websites using your favorite frameworks and libraries.</p>

		<div>

			<p>Few facts about me</p>
			<ul>
				<li>Name: {identity.name}</li>
				<li>Planet: {identity.planet}</li>
				<li>Occupation: {identity.occupation}</li>
				<li>Hobbies: {identity.hobbies.join(", ")}</li>
			</ul>
		</div>
		<div>
			<p>My skills: </p>
			<ul>
				{skills.map((skill)=> <li class="skill">{skill}</li>) }
			</ul>
		</div>
			{enjoying && <p>I'm enjoying learning Astro!</p>}
		<p>Learn more about Astro at <a href="https://astro.build">astro.build</a>.</p>
	</div>

</BaseLayout>
